<form id="addOppForm">
  <div class="top">
    <h2>New Volunteer Opportunity</h2>
    <h4>Fill out the info below and get started right away.</h4>
  </div>
  <div class="input-group">
    <label for="position">Position: *</label>
    <input type="text" id="position" required>
  </div>
  <div class="input-group">
    <label for="location">Location: *</label>
    <input type="text" id="location" required>
  </div>
  <div class="input-group">
    <label for="time_frame">Time frame (ex. “month-long project”, “long-term”): *</label>
    <input type="text" id="time_frame" required>
  </div>
  <div class="input-group">
    <label for="time_commitment">Time commitment (ex. “5 hrs/day on weekends”): *</label>
    <input type="text" id="time_commitment" required>
  </div>
  <div class="input-group">
    <label for="requirements">Who are you looking for? *</label>
    <sub>This could include experience, skills, recommended or required age, required certifications, etc.</sub>
    <textarea id="requirements" cols="30" rows="10"></textarea>
  </div>
  <div class="input-group">
    <label for="description">Description of opportunity *</label>
    <textarea id="description" cols="30" rows="10"></textarea>
  </div>
  <div class="input-group">
    <label for="contact">How to reach out: *</label>
    <sub>If there’s an application form online, then link it. If interested volunteers should reach out to someone, include their name, phone #, email.</sub>
    <textarea id="contact" cols="30" rows="10"></textarea>
  </div>
  <div class="input-group">
    <button class="btn">Add</button>
  </div>
</form>