<div class="modal" id="loginModal">
  <a class="overlay" href="#"></a>
  <div class="modal-content">
    <a href="#" class="close">&times;</a>

    <form id="login">
      <input type="text" name="email" />
      <input type="password" name="password" />

      <button class="btn">Login</button>
      <a href="{{ "/volunteer-register/" | relative_url }}">Create a Vounteer Account</a>
      <a href="{{ "/organization-register/" | relative_url }}">Create an Organization Account</a>
      <a href="{{ "/school-register/" | relative_url }}">Create a School Account</a>
    </form>
  </div>
</div>
