<form id="profileSettings">
  <!--display profile picture instead of logo-->
  <img src="{{ site.logo }}" alt="Volunteerism">
  <div class="input-group">
    <button class="profileButton">Change Profile Picture</button>
  </div>
  <div class="input-group">
    <input type="text" id="first-name" placeholder=":Retrieve First Name:" />
  </div>
  <div class="input-group">
    <input type="text" id="last-name" placeholder=":Retrieve Last Name:" />
  </div>
  <div class="input-group">
    <input type="text" id="interests" placeholder=":Retrieve interests and separate by commas:" />
  </div>

  <div class="input-group">
    <button class="btn">Save Changes</button>
  </div>
  <br>
</form>