$header-height: 128px;

// Typography
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;1,400;1,500&family=Nunito:wght@400;700&display=swap');

// Colors
$lightblue: #1a8fe3;
$white: #D4D5D2;

// Device Sizes
$on-palm: 1000px;
$on-laptop: 800px;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}
