<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {%- include head.html -%}
  <body class="{{ page.title | slugify }}">
    {%- include header.html -%}

    <main>
      {{ content }}
    </main>
    
    {%- include modal.html test="loginForm.html" id="loginModal" -%}
    {%- include modal.html test="addOpp.html" id="addOppModal" -%}
	  {%- include modal.html test="profileSettings.html" id="profileSettingsModal" -%}


		<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-analytics.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-auth.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-storage.js"></script>
    <script type="module" src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </body>
</html>